@charset "UTF-8";
/* CSS Document */
/*colors  #847367 = brown, #d2a588 = tan, #a6c1de = blue, #efe0d5 = cream */

/* type */

	
h1{
	font-size:33pt;
	font-family:Nunito, Helvetica, sans-serif;
	color: #d2a588;
	line-height:29pt;
}
h2{
	font-size:17pt;
	font-family:Nunito, Helvetica, sans-serif;
	color: #847367;
}
p{
	font-size:11pt;
	font-family:Nunito, Helvetica, sans-serif;
	color: #847367;
}

header h1{
	font-size:17pt;
	font-family:Nunito, Helvetica, sans-serif;
	font-weight: bold;
	color:#000 /* #fcfcfc*/;
}
header p{
	font-weight: bold;
	color:#000 /* #fcfcfc*/;
}
	
.form h1{
	color: #efe0d5;
	
}
footer h1{
	color: #847367;
	font-size:14pt;
}
footer p{
	color: #847367;
	font-size:9pt;
	}
	
/* nav */
#navigation {
	position: fixed;
	z-index: 1;
}





/* footer */
small{
	float:right;
	font-family:Nunito, Helvetica, sans-serif;
	color: #847367;
}

.icon{
	width:50px;
	height:50px
}
/* form */
#contact{
	margin:45px;
}
input{
	width:100%;
}
/* images */
.last{
	padding-left:50px;
}
.mid{
	padding-left:35px;
}
/*
.first{

}*/
.lower{
	padding-top:35px;
}
.special{
	position:absolute;
	z-index:1000;
	margin:0 auto;
	left:0;
	right:0;
	top:0;
	padding-top:130px;
	padding-left:100px;
}
.hero .row{
	padding-top:70px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.space{
	margin-top:50px;
}
@media only screen and (max-width: 40.063em) {
	.last{
		padding-left:0;
		padding-right:0;
		margin:0 auto;
	}
	.mid{
		padding-left:0;
		padding-right:0;
		margin:0 auto;
	}
	.first{
		padding-left:0;
		padding-right:0;
		margin:0 auto;

	}
	.space{
	margin-top:10px;
	}
	.lower{
	padding-top:10px;
	}
	.special{
	position: inherit;
	width: 100%;
	z-index:0;
	margin:0 auto;
	left:0;
	right:0;
	top:0;
	padding-top:0;
	padding-left:50px;
	padding-right:0;
	}
	
}