@charset "UTF-8";
/* CSS Document */
/*colors  #847367 = brown, #d2a588 = tan, #a6c1de = blue, #efe0d5 = cream */

/* type */
h1{
	font: 33pt/30pt Nunito, Helvetica, sans-serif;
	color: #d2a588;	
}
h2{
	font:17pt Nunito, Helvetica, sans-serif;
	color: #847367;
}
p{
	font-size:11pt Nunito, Helvetica, sans-serif;
	color: #847367;
}
span{
	font-weight: bold;
	color: #fcfcfc;
}
header h1{
	font:bold 17pt Nunito, Helvetica, sans-serif;
	color: #fcfcfc;
}
.work-color h1{
	color: #847367;
}
.work-color span{
	color: #847367;
}
footer h1{
	color: #847367;
	font-size:14pt;
}
footer p{
	color: #847367;
	font-size:9pt;
	line-height:10px;
}
	
/* nav */

.form h1{
	color: #efe0d5;
}
.top-bar {
	background: #efe0d5;
	border-radius:6px; 
	font-family: Nunito, Helvetica, sans-serif;
	z-index:4;
}
.top-bar-section ul li > a {
	color:  #84736F;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: #efe0d5; 
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #a6c1de;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #847367 ;
	color: #FFFFFF;
}
.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
	background-color:  #847367;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background:#d2a588;
	color: #FFFFFF;
}
/*pagination*/
ul.pagination li.current a, ul.pagination li.current button {
    background: #847367;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
    background: #d2a588;
}
ul.pagination li a, ul.pagination li button {
  color: #847367;
}
ul.pagination li:hover a, ul.pagination li a:focus, ul.pagination li:hover button, ul.pagination li button:focus {
  background: #a6c1de;
  color: #FFFFFF;
}
/*form*/

input .note{
	height: 45px;
}
.form-background{
	position:relative;
}
.row .form-wrapper{
	height:63%;
	width:45%;
	border-radius:50%;
	position:absolute;
	z-index:10;
	top:25%;
	left:40%;
    background-color: #847367;
	padding:60px;
}


.form-container h1{
	color: #efe0d5;
}
placeholder {
    color: #d2a588;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	border-radius: 8px;
	background-color: #efe0d5;
	border-style: solid;
	border-width: 1px;
	border-color: #847367;
	color: rgba(0, 0, 0, 0.75);
	height: auto;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	width: 100%;
}
::-webkit-input-placeholder {
	color: #847367;
}
input[type="submit"] {
	border-radius: 8px; 
}
.submit-button {
	background: #efe0d5;
	border: 1px solid #847367;
	padding: 10.5px 21px;
	color: #847367;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
.submit-button:hover {
	background: #a6c1de;
	color: #fff;
}

/* footer */

footer{
	padding-top:1px;
	background-color:#efe0d5;
}
small{
	font-family:Nunito, Helvetica, sans-serif;
	color: #847367;
}
.icon{
	width:50px;
	height:50px;
	display:block;
	margin:auto;
	border-radius: 0px;
}

/* images */

.home-top{
	padding:60px 0;
	background-size: cover;
	background-image:url(../image/top-background.jpg);
	background-repeat: no-repeat;
}
.logo {
	padding:0;
}
.work-top{
	background-size: cover;
	background-image:url(../image/work-top.png);
	background-repeat: no-repeat;
}
body {
	background-image:url(../image/white-wood-wall.jpg);
	background-size: cover;
	
}
img{	
	border-radius: 30px;
}
.special{
	position:absolute;
	z-index:3;
	margin-left:0 auto;
	left:0;
	right:0;	
}
.hero{
	padding-top:50px;
}


/* helpers*/

.move-left{
	float:left;
}
.move-right{
	float:right;
}
.space{
	margin-top:50px;
}
.mspace{
	margin-top:75px;
}

/* project page*/

.last{
	padding-left:50px;
}
.mid{
	padding-left:35px;
}
.lower{
	padding-top:35px;
}


@media only screen and (max-width: 40.063em) {
	.last, .mid , .first {
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}
	.hero{
		padding-top: 0;
	}
	#about{
		margin-top: 20px;
		}
	img{
		display: block;
		margin: auto;
		margin-top: 20px;
	}
	.mspace{
		margin-top: 0;
	}
	.space, .lower{
		margin-top: 0;
		padding-top: 0px;
	}
	.special{
		position: inherit;
		width: 100%;
		z-index: 0;
		margin: 0 auto;
	}
	header, #contact, footer{
		text-align: center;
	}
	.row .form-wrapper{
		height: auto;
		width: 100%;
		border-radius: 10px;
		position: relative;
		top: 0;
		left: 0;
		padding: none;
		margin: auto;

	}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {  
	.photo:hover img:first-child {
	display:none;
	}
	.photo:hover img:last-child {
	display:inline-block;
	}
}