@charset "UTF-8";
/* CSS Document */
/*colors  #847367 = brown, #d2a588 = tan, #a6c1de = blue, #efe0d5 = cream */

/* type */
h1{
	font: 33pt/30pt Nunito, Helvetica, sans-serif;
	color: #d2a588;	
}
h2{
	font:17pt Nunito, Helvetica, sans-serif;
	color: #847367;
}
p{
	font-size:11pt Nunito, Helvetica, sans-serif;
	color: #847367;
}
header h1{
	font:bold 17pt Nunito, Helvetica, sans-serif;
	color:#000 /* #fcfcfc*/;
}
header p{
	font-weight: bold;
	color:#000 /* #fcfcfc*/;
}	
.form h1{
	color: #efe0d5;
	
}
footer h1{
	color: #847367;
	font-size:14pt;
}
footer p{
	color: #847367;
	font-size:9pt;
	}
	
/* nav */
#navigation {
	position: fixed;
	z-index: 1;
}

/* footer */
small{
	
	font-family:Nunito, Helvetica, sans-serif;
	color: #847367;
}

.icon{
	width:50px;
	height:50px;
	display:block;
	margin:auto;
}
/* form */
#contact{
	margin:45px;
}
input{
	width:100%;
}
/* images */
.special{
	position:absolute;
	z-index:1000;
	margin-left:0 auto;
	left:0;
	right:0;
	
}
.hero{
	padding-top:50px;
}
/* helpers*/
.left{
	float:left;
}
.right{
	float:right;
}
.space{
	margin-top:50px;
}
.mspace{
	margin-top:75px;
}
/* project page*/
.last{
	padding-left:50px;
}
.mid{
	padding-left:35px;
}
.lower{
	padding-top:35px;
}
@media only screen and (max-width: 40.063em) {
	.last, .mid , .first {
		padding-left:0;
		padding-right:0;
		margin:0 auto;
	}
	img{
		display:block;
		margin:auto;
	}
	.mspace{
	margin-top:10px;
	}
	.space .lower{
	margin-top:0px;
	padding-top:0px;
	}
	.special{
	position: inherit;
	width: 100%;
	z-index:0;
	margin:0 auto;
	
	}
	small{
	float:inherit;
	}
}