@charset "UTF-8";
/* CSS Document */

/* type */
h1{
	font-size:40px;
}
h2{
	font-size:20px;
}
/* nav */
nav#navigation {
    float:right;   
}
nav#navigation .nav-trigger.open span::after {
    bottom:0;
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}
/* footer */
small{
	float:right;
}
footer h1{ 
	font-size:14px;
}
footer h2{ 
	font-size:12px;
}
.icon{
	width:50px;
	height:50px
}
/* form */
#contact{
	margin:45px;
}
input{
	width:100%;
}
/* images */
.last{
	padding-left:50px;
}
.mid{
	padding-left:35px;
}
.first{

}
.lower{
	padding-top:35px;
}
.special{
	position:absolute;
	z-index:1000;
	margin:0 auto;
	left:0;
	right:0;
	top:0;
	padding-top:130px;
	padding-left:100px;
}
.hero .row{
	padding-top:70px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.space{
	margin-top:50px;
}
@media only screen and (max-width: 40.063em) {
	.last{
		padding-left:0;
		padding-right:0;
		margin:0 auto;
	}
	.mid{
		padding-left:0;
		padding-right:0;
		margin:0 auto;
	}
	.first{
		padding-left:0;
		padding-right:0;
		margin:0 auto;

	}
	.space{
	margin-top:10px;
	}
	.lower{
	padding-top:10px;
	}
	.special{
	position: inherit;
	width: 100%;
	z-index:0;
	margin:0 auto;
	left:0;
	right:0;
	top:0;
	padding-top:0;
	padding-left:50px;
	padding-right:0;
	}
}